{{!-- ========== Header ============ --}}
<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">

    {{!-- App Logo --}}
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="/">
        <img src="/images/my-circle-logo.png" width="80" height="80" alt="My Circle logo" class="navbar-brand-image">
      </a>
    </h1>

    {{!-- App title --}}
    <h2 class="pt-2">My Circle</h2>

    <div class="navbar-nav flex-row order-md-last">

      {{!-- Icons --}}
      <div class="d-none d-md-flex">

        {{!-- Theme Icons --}}
        <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
  data-bs-placement="bottom">
          <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
        </a>
        <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
  data-bs-placement="bottom">
          <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
        </a>
          
        {{!-- notification section --}}
        <div id="load-notification-icon"></div>
        {{!-- {{>notification-list}} --}}

      </div>
    </div>
  </div>
</header>

{{!-- ========== Navbar ============ --}}
{{!-- if user logged in then show options --}}
{{#if user }}
<header class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">

          {{!-- Timeline --}}
          <li class="nav-item " id="navigate-timeline" >
            <a href="/" class="nav-link" data-bs-auto-close="outside" aria-expanded="false">
              <span
                class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-timeline" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 16l6 -7l5 5l5 -6"></path>
                  <path d="M15 14m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M10 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M4 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M20 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Timeline
              </span>
            </a>
          </li>

          {{!-- ======== post ======= --}}
          <li class="nav-item dropdown" id="navigate-post" >
            <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span
                class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-rounded-plus"
                  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M9 12h6"></path>
                  <path d="M12 9v6"></path>
                  <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Post
              </span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/post">
                Create Post
              </a>
              <a class="dropdown-item" href="/saved-post">
                Saved Post
              </a>
              <a class="dropdown-item" href="/archived-post">
                Archived Post
              </a>
            </div>
          </li>

          {{!-- Users --}}
          <li class="nav-item " id="navigate-users">
            <a class="nav-link " href="/users" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span
                class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                  <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                  <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Users
              </span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                  <a class="dropdown-item" href="./layout-horizontal.html">
                    Horizontal
                  </a>
                  <a class="dropdown-item" href="./layout-boxed.html">
                    Boxed
                    <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
                  </a>
                  <a class="dropdown-item" href="./layout-vertical.html">
                    Vertical
                  </a>
                  <a class="dropdown-item" href="./layout-vertical-transparent.html">
                    Vertical transparent
                  </a>
                  <a class="dropdown-item" href="./layout-vertical-right.html">
                    Right vertical
                  </a>
                  <a class="dropdown-item" href="./layout-condensed.html">
                    Condensed
                  </a>
                  <a class="dropdown-item" href="./layout-combo.html">
                    Combined
                  </a>
                </div>
                <div class="dropdown-menu-column">
                  <a class="dropdown-item" href="./layout-navbar-dark.html">
                    Navbar dark
                  </a>
                  <a class="dropdown-item" href="./layout-navbar-sticky.html">
                    Navbar sticky
                  </a>
                  <a class="dropdown-item" href="./layout-navbar-overlap.html">
                    Navbar overlap
                  </a>
                  <a class="dropdown-item" href="./layout-rtl.html">
                    RTL mode
                  </a>
                  <a class="dropdown-item" href="./layout-fluid.html">
                    Fluid
                  </a>
                  <a class="dropdown-item" href="./layout-fluid-vertical.html">
                    Fluid vertical
                  </a>
                </div>
              </div>
            </div>
          </li>

          {{!-- Report --}}
          <li class="nav-item" id="navigate-report">
            <a class="nav-link" href="/report">
              <span
                class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-infographic"
                  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M7 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                  <path d="M7 3v4h4"></path>
                  <path d="M9 17l0 4"></path>
                  <path d="M17 14l0 7"></path>
                  <path d="M13 13l0 8"></path>
                  <path d="M21 12l0 9"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Report
              </span>
            </a>
          </li>
        </ul>
        
        {{!-- User Icon & small info --}}
        <div class="nav-item dropdown mt-2 mb-2">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">

          {{#if user.profilePicture}}
          <span class="avatar avatar-sm">
            <img src="/uploads/profilePicture/{{user.profilePicture.name}}" alt="user-avatar">
          </span>
          {{else}}
          <span class="avatar avatar-sm" style="background-image: url(/images/avatar.png)"></span>
          {{/if}}
          <div class="d-none d-xl-block ps-2">
            <div id="user-name">{{user.firstName}} {{user.lastName}}</div>
            <div id="user-email" class="mt-1 small text-muted">{{user.email}}</div>
          </div>
        </a>
        {{!-- Log out btn --}}
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="/profile" id="profile-btn" class="dropdown-item">Profile</a>
          <a href="/logout" id="logout-btn" class="dropdown-item">Logout</a>
        </div>
        </div>

      </div>

    </div>
  </div>
</header>

{{!-- else user not loged in --}}
{{else}}

<header class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">

          {{!-- Timelime --}}
          <li class="nav-item active ">
            <a class="nav-link" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button"
              aria-expanded="false">
              <span
                class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-timeline" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 16l6 -7l5 5l5 -6"></path>
                  <path d="M15 14m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M10 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M4 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M20 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                </svg>
              </span>
              <span class="nav-link-title">
                Timelime
              </span>
            </a>
          </li>
        </ul>

      </div>

      {{!-- Signup / Signin btn --}}
      <ul class="navbar-nav nav-item d-flex">
        <li>
          <a id="signin" href="/signin" class="btn btn-outline-primary w-100">
            Sign In
          </a>
        </li>
        &nbsp;
        <li>
          <a id="signup" href="/signup" class="btn btn-outline-primary w-100">
            Sign Up
          </a>
        </li>
      </ul>

    </div>
  </div>
</header>

{{/if}}

{{!-- event file --}}
{{!-- {{#section 'script'}}
<script src="./javascripts/header.js"></script>
<script>
  new headerEvent();
</script>
{{/section}} --}}