{{#each notifications}}
<div class="list-group-item {{_id}}">
    <div class="col-12 align-items-center">
    {{!-- <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div> --}}
    <div class="col- text-truncate">
        {{!-- saved user name --}}
        <p href="#" class="text-body d-block">{{savedUserName.firstName}} {{savedUserName.lastName}} <span class="text-muted">{{moment createdAt}}</span></p>
        <div class="d-block text-muted text-truncate mt-n1">
            Saved Your post 
        </div>
    </div>
    <div class="col-auto">
        {{!-- notification seen icon --}}
        <a href="javascript:void(0)" class="" id="notification-seen-btn" data-notification-id="{{_id}}">
            <i class="fa-regular fa-eye"></i>
        </a>
    </div>
    </div>
</div>
{{/each}}