<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        saved post
                    </h2>

                    <div id="total-post" class="text-muted mt-1">{{currentPage}}-{{totalPages}} of {{totalPosts}} Posts</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <!-- Content here -->

            {{!-- ======= all post grid ======= --}}
            <div class="row row-cards">
                {{!-- {{#log savedPosts.0.posted_user_info}}{{/log}} --}}
                {{#if savedPosts}}
                {{#each savedPosts}}
                {{!-- ======= single post card ======= --}}
                <div class="col-sm-6 col-lg-4">
                    <div class="card card-sm">

                        {{!-- post title --}}
                        <div class="card-header">
                            <h3 class="card-title"><b>{{postDetails.title}}</b></h3>
                        </div>

                        {{!-- post image --}}
                        <a href="#" class="d-block">
                            <img src="/uploads/posts/{{postDetails.postImage.name}}" class="card-img-top">
                        </a>
                        <div class="card-body">

                            {{!-- post description --}}
                            <div class="description pb-4 ">
                                {{postDetails.description}}
                            </div>
                            <div class="d-flex align-items-center">

                                {{!-- post's user profile --}}
                                {{!-- <span class="avatar me-3 rounded"
                                    style="background-image: url(./static/avatars/000m.jpg)"></span> --}}

                                {{!-- user's name --}}
                                <div>
                                    <div><b>{{posted_user_info.firstName}}
                                            {{posted_user_info.lastName}}</b> </div>
                                    {{!-- <div class="text-muted">3 days ago</div> --}}
                                </div>

                                <div class="ms-auto">

                                    {{!-- post Un save icon --}}
                                    <a id="unsave-post-btn" data-post-id="{{postDetails._id}}" href="#"
                                        class="ms-3 text-muted" data-bs-toggle="tooltip"
                                        data-bs-original-title="unsave">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24"
                                            width="24" height="24">
                                            <path
                                                d="M2.849,23.55a2.954,2.954,0,0,0,3.266-.644L12,17.053l5.885,5.853a2.956,2.956,0,0,0,2.1.881,3.05,3.05,0,0,0,1.17-.237A2.953,2.953,0,0,0,23,20.779V5a5.006,5.006,0,0,0-5-5H6A5.006,5.006,0,0,0,1,5V20.779A2.953,2.953,0,0,0,2.849,23.55Z" />
                                        </svg>
                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <h3>No post</h3>
                {{/if}}
            </div>

            {{!-- ======= Pagination ======== --}}
            {{>pagination}}
        </div>
    </div>

    {{!-- Event file --}}
    {{#section "script"}}
    <script src="./javascripts/saved-post.js"></script>
    <script src="./javascripts/index.js"></script>

    <script>
        $(document).ready(function () {
            new savedPostEvent();
        })
    </script>

    {{/section}}